.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}

.modal{
    margin: 200px auto;
    max-width: 480px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
   
}